---
import "../styles/randomAnime.css";
---

<div class="random-card">
  <div class="threejs"></div>

  <span class="pills"></span>

  <span class="text-content">
    <h2 class="anime-header"></h2>
    <p class="anime-desc"></p>
  </span>

  <span class="buttons-container">
    <button class="stream">Watch Now!</button>
    <button>Download</button>
  </span>
</div>