---
import "../styles/randomAnime.css";
---

<div class="random-card">
  <div class="threejs">
    
  </div>
  <span class="pills">
    <div class="genre">Supernatural</div>
    <div class="genre">Romance</div>
    <div class="genre">Shonen</div>
  </span>
  <span class="text-content">
     <h2 class="anime-header">Anime Long Weird Names</h2>
     <p class="anime-desc">Anime long weird maybe lorem updousum description, very weird stuff ngl. cool anyways, just random stuff, i like saying stuff ngl, mgl, stuff, sham, maybe, random words at thought.</p>
  </span>
  <span class="buttons-container">
    <button>Watch Now!</button>
    <button>Download</button>
  </span>
</div>
<script src="../scripts/fetchRandomAnime.js" type="module"></script>
<script src="../scripts/three.js"></script>